@{
    ViewData["Title"] = "Index";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />

<div class="text-center position">
    <h1 class="display-3">書籍貸出管理システム</h1>
    <a asp-controller="Home" asp-action="Login" ><img src="~/img/Login.png" alt="LoginIcon" /></a>
</div>
