
@{
    ViewData["Title"] = "Apply2";
}
<meta http-equiv="refresh" content="3; URL = ../Home/SelectBook" />
<h1 align ="center" style="margin:50px">申請が完了しました!</h1>
<h4 align ="center">*管理者に承認されるまで少々お待ちください*</h4>

