
@{
    ViewData["Title"] = "Index_User";
}

<h1>メニュー</h1>

<table align="center" style="font-size:20px; font-weight:600">
    <tr>
        <th width="150" height="200" align="center"><img src="~/img/Book.png" /></th>
    </tr>
    <tr>
        <td align="center" height="50"><a asp-controller="Home" asp-action="SelectBook">書籍検索・貸出申請</a></td>
    </tr>
</table>